.azeret-mono-normal {
    font-family: "Azeret Mono", monospace;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
  *{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  .banner-container{
    width: 1414px;
    height: 663px;
    background-image: url(B10A1-Challenge-Begins/assets/Hero-bg.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .banner-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 580px;
    align-items: center;
  }
.para1{
    font-size: 28px;
    font-weight: 800;
    line-height: 68px   
}
.para1, p{
    width: 852px;
    text-align: center;
    border-bottom: 20px;
}